<%= render "shared/first_header" %>
<%= render "shared/header" %>

<%= form_with(model: @training, local: true) do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">トレーニング内容</label>
    <%= f.text_area :training_name, class: "form-control", id: "exampleFormControlInput1" %>
  </div>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">重量</label>
    <%= f.text_field :weight, class: "form-control", id: "exampleFormControlInput1" %><span>kg
</span> 
 </div>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">回数</label>
    <%= f.text_field :number, class: "form-control", id: "exampleFormControlInput1" %><span>回
    </span> 
  </div>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">日付</label>
    <%= f.datetime_select :start_time, class: "form-control", id: "exampleFormControlInput1" %>
  </div>

<div class="d-grid gap-2">
<%= f.submit "更新する", class: "btn btn-primary" %>
<%= link_to "戻る", :back, class: "btn btn-primary"%>
</div>
<% end %>

