<%= render "shared/header" %>

<%= link_to "トレーニング記録をつける", new_training_path %>

<div class = main>
<%= month_calendar events: @trainings do |date, trainings| %>
  <%= date.day %>

  <% trainings.each do |training| %>
    <div>
      <%= link_to training.training_name, training %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>