<%= render "shared/first_header" %>
<%= render "shared/header" %>

<%= link_to "トレーニング記録をつける", new_training_path, class: "btn btn-outline-success" %>
<%= link_to "摂取カロリー記録をつける", new_calory_path, class: "btn btn-outline-secondary" %>


<div class="main">
  <%= month_calendar(events: @trainings, calories: @calories) do |date, trainings, calories| %>
<% end %>
</div>

<%= render "shared/footer" %>