<%= render "shared/first_header" %>
<%= render "shared/header" %>

<div class="trainings-main">
    <h2 class="trainings-title">トレーニング内容を記載</h2>
    <%= form_with(model: @training, local: true) do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

    <div class="new-training">
      <div class="new_training_name">
      <span class="indispensable">＊必須＊</span>
        トレーニング名</div>
      <%= f.text_area :training_name, class:"training_name", id:"training-name", placeholder:"トレーニング名（必須 40文字まで)", maxlength:"40" %>
      </div>

      
      <div class="new_weight">
        <div class="weight_name">
        <span class="indispensable">*必須*</span>
        重量</div>
        <%= f.text_field :weight, class:"weight", id:"weight", placeholder:"重量" ,rows:"7" ,maxlength:"1000" %>
      </div>
      
      <div class="mb-3">
     <label for="exampleFormControlInput1" class="form-label">*必須* 回数</label>
      <%= f.text_field :number, class: "form-control", id: "exampleFormControlInput1", placeholder:"回数" ,rows:"7" ,maxlength:"1000" %>
      </div>

      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">*必須* 日付</label>
      <div>
     <%= f.datetime_select :start_time, class: "form-control", id: "exampleFormControlInput1" %>
     </div>
     </div>

      <div class="submit">
       <%= f.submit "記録する" ,class:"log-btn" %>
       <%= link_to "もどる", root_path, class:"back-btn" %>
      </div>
    <% end %>
    </div>
    
