<%= render "shared/first_header" %>
<%= render "shared/header" %>

<h2>トレーニング内容</h2>

<table class="table">
  <thead>
 
  </thead>
  <tbody>
    <tr>

      <td>トレーニング名</td>
      <td><%= @training .training_name %></td>
    </tr>
    <tr>
 
      <td>重量</td>
      <td> <%= @training.weight %> <span>kg</script></td>
    </tr>
    <tr>

      <td>回数</td>
      <td><%= @training.number %><span>回</span></td>
    </tr>

    <td>日付</td>
    <td>  <%= @training.start_time.strftime("%m-%d") %></td>
  </tr>


  </tbody>
</table>



<div class="d-grid gap-2">
<%= link_to '編集', edit_training_path(@training), class: "btn btn-primary" %>
<%= link_to '消去',training_path(@training.id), class: "btn btn-primary", method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', trainings_path, class: "btn btn-primary" %>
</div>
</div>