<%= render "shared/first_header" %>

<p class="h1">ユーザー情報を編集</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "exampleFormControlInput1" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "exampleFormControlInput1" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以下不可</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "exampleFormControlInput1" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", id: "exampleFormControlInput1" %>
  </div>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">体重</label>
  <%= f.text_field :body_weight, autofocus: true, autocomplete: "body_weight", class: "form-control", id: "exampleFormControlInput1" %><span>kg</span>
</div>

<div class="mb-3">
<label for="exampleFormControlInput1" class="form-label">体重</label>
<%= f.text_field :height, autofocus: true, autocomplete: "height", class: "form-control", id: "exampleFormControlInput1" %><span>cm</span>
</div>


  <div class="d-grid gap-2">
    <%= f.submit "更新する", class: "btn btn-primary" %>
  </div>
<% end %>


<div class="d-grid gap-2">
<h3>アカウントを削除する</h3>
<div>本当に削除しますか? <%= button_to "削除する", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"%></div>

<%= link_to "戻る", :back, class: "btn btn-primary"%>
