

<div class="contents row">
  <div class="container">
  <h1 class="display-6">新規登録</h1>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">ニックネーム</label><br />
        <%= f.text_area :nickname, autofocus: true, class: "form-control", id: "exampleFormControlInput1" %>
      </div>

      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">メールアドレス</label><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", id: "exampleFormControlInput1" %>
      </div>

      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">パスワード</label><br />
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "exampleFormControlInput1" %>
      </div>

      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">パスワード（再確認）</label><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "exampleFormControlInput1" %>
      </div>

      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">体重</label><br />
      <%= f.text_field :body_weight, class: "form-control", id: "exampleFormControlInput1"%>
      </div>

      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">身長</label><br />
      <%= f.text_field :height, class: "form-control", id: "exampleFormControlInput1"%>
      </div>

      <div class="d-grid gap-2">
      <%= f.submit "新規登録", class: "btn btn-primary" %>
      <%= link_to '戻る', root_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


</div>