<%= render "shared/header" %>

<%= link_to "トレーニング記録をつける", new_training_path %>
<%= link_to "摂取カロリー記録をつける", new_calory_path %>

<div class="main">
  <%= month_calendar events: @calories do |date, calories| %>
    <%= date.day %>

    <% calories.each do |calory| %>
      <div>
        <%= link_to calory.calories_intake, calory %>
      </div>

  <% end %>
<% end %>
</div>
</div>
</div>