<%= render "shared/first_header" %>
<%= render "shared/header" %>

<div class="show">
<p>
  <strong>摂取カロリー量</strong>
  <%= @calory.calories_intake %>
</p>

<p>
  <strong>日付</strong>
  <%= @calory.start_time.strftime("%m-%d") %>
</p>

<div class="d-grid gap-2">
<%= link_to '編集', edit_calory_path(@calory), class: "btn btn-primary" %>
<%= link_to '消去', calory_path(@calory.id), class: "btn btn-primary", method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', root_path, class: "btn btn-primary" %>
</div>
</div>