

<%= form_with(model: @user, local: true) do |f| %>

  <div class="users">
    <div class="user_nickname">名前</div>
    <%= f.text_area :nickname %>
  </div>


  <div class="users">
    <div class="email">メールアドレス</div>
    <%= f.text_field :email %>
  </div>

    <div class="users">
    <div class="body_weight">体重</div>
    <%= f.text_field :body_weight %>
  </div>

  <div class="users">
    <div class="height">身長</div>
    <%= f.text_field :height %>
  </div>


  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>