<%= render "shared/first_header" %>
<%= render "shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>

      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= "#{@user.nickname}" %></td>
          </tr>
          <tr>
            <th class="table__col1">メールアドレス</th>
            <td class="table__col2"><%= "#{@user.email}" %></td>
          </tr>
          <tr>
            <th class="table__col1">体重</th>
            <td class="table__col2"><%= "#{@user.body_weight}" %><span>kg</script></td>
          </tr>
          <tr>
            <th class="table__col1">身長</th>
            <td class="table__col2"><%= "#{@user.height}" %><span>cm</script></td>
          </tr>
        </tbody>
      </table>

      <script>
      function calc() {
        let weight = document.getElementById("weight").value;
        let height = document.getElementById("height").value;
        let num = weight/( (height/100)*(height/100) );
        let bmi = Math.ceil(num) ;
        
        if (bmi < 18.5) {
                document.getElementById("yase").textContent = "痩せ";
            } else if (bmi >= 25) {
                document.getElementById("himan").textContent = "肥満";
            } else if (bmi >= 18.6 && bmi < 25) {
                document.getElementById("hyojyun").textContent = "標準";
            }

       document.getElementById("bmi").textContent = bmi;
          }
      </script>

      <body>
      <p><b>BMIを計算しよう！</b></p>
      <div class="row">
       <div class="col">
      <div>体重<input type="number" id="weight" value="" class="form-control" >kg</div> 
      <div>身長 <input type="number" id="height" value="" class="form-control" >cm</div> 
      <div><button type="button" onclick="calc()" class="btn btn-primary btn-lg">計算する</button></div> 
      <div><b>あなたのBMI=</span><span id="bmi"></span><span></b></span>
      <p><span><b>判定→</span><span id="yase"><span id="himan"><span id="hyojyun"></span></b></p>
       </div>
      </div>
      </body>
    
      <div class="d-grid gap-2">
      <%= link_to '編集', edit_user_registration_path(@user), class: "btn btn-primary" %> 
      <%= link_to '戻る', root_path, class: "btn btn-primary"%>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>