

<div class="contents row">
  <div class="container">
  <h1 class="display-6">ログイン</h1>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", id: "exampleFormControlInput1", placeholder: "name@example.com" %>
      </div>

      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "exampleFormControlInput1" %>
      </div>


      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="d-grid gap-2">

        <%= f.submit "ログイン", class: "btn btn-primary" %>
        <%= link_to '戻る', root_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>